.GitHub {
  position: absolute;
  top: 30px;
  right: 10px;
  z-index: 1;

  background-color: transparent;
  font-size: 50px;
  font-family: 'FridayNight';
  border: none; 
  border-radius: 0;
  margin-top: 10px;
  cursor: pointer;
  transition: all ease-in-out 0.7s;
  color: white;
  -webkit-text-stroke: 1.5px black;
  text-shadow: 0 0px 5px rgb(162, 0, 255);
  
  /* Add default state */
  opacity: 0;
  transform: translateX(-100%);

  /* Add animation */
  animation: rightslideIn 0.5s forwards;
  animation-delay: 0.8s;
}

@media only screen and (max-width: 900px) {
.GitHub{
    animation: leftslideOut 0.5s forwards;
  }
}

@keyframes rightslideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes leftslideOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
.LinkeIn {
  position: absolute;
  top: 120px;
  right: 10px;
  z-index: 1;

  background-color: transparent;
  font-size: 45px;
  font-family: 'FridayNight';
  border: none; 
  border-radius: 0;
  margin-top: 10px;
  cursor: pointer;
  transition: all ease-in-out 0.7s;
  color: white;
  -webkit-text-stroke: 1.5px black;
  text-shadow: 0 0px 5px rgb(162, 0, 255);
  
  /* Add default state */
  opacity: 0;
  transform: translateX(-100%);

  /* Add animation */
  animation: rightslideIn 0.5s forwards;
  animation-delay: 0.8s;
}

@media only screen and (max-width: 900px) {
.LinkeIn{
    animation: leftslideOut 0.5s forwards;
  }
}

@keyframes rightslideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes leftslideOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}